/* Home.css */
.home-container {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .hero-section {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .hero-section h1 {
    font-size: 36px;
    color: #096537d2;
    margin-bottom: 20px;
  }
  h2{
    color:#034320;
  }
  .hero-section p {
    font-size: 18px;
    color: #040f00ce;
    margin-bottom: 30px;
  }
  
  .hero-section button {
    font-size: 18px;
    padding: 15px 30px;
    background-color: #034320;
    color: white;
    border-radius: 25px;
    transition: background-color 0.3s ease;
  }
  
  .hero-section button:hover {
    background-color: #3eb96e9f;
    color:black;
  }
  
  .group-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  